{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }} {% endblock %}

{% block body %}

<div class="w-5/6 m-auto text-center">
    <h1 class="text-3xl ">Site d'avis d'entreprises</h1>
    <div {{ react_component('Home', {companies: companies}) }}></div>
</div>

{% endblock %}
