{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block body %}
    <div class="max-w-3xl mx-auto border my-4 py-10 px-20">

        <h1 class="text-center text-3xl mb-6">Inscription</h1>

        {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}
            

            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded text-lg block w-full" formnovalidate class="btn">Register</button>
        {{ form_end(registrationForm) }}
        
    </div>
{% endblock %}
